#use wml::des::navbar
#dontuse wml::debian-zh::navbar

# $Id$

# Adapted from template/navbar.tmpl used in OLVC Home Page (www.olvc.ab.ca)

##
##  The main Navigation Bar [left, vertically]
##

<define-tag ifmenu endtag=required>
$(nomenu:*%body)
</define-tag>

<ifmenu>
<navbar:define name=main urlbase="$(HOME)/international/chinese" >
  <navbar:header>
    <div id="leftcol">
    <ul>
  </navbar:header>
  <navbar:prolog>
     <li>
  </navbar:prolog>
  <navbar:prolog type=S>
    <li class="menuselected">
  </navbar:prolog>
  <navbar:button id=news txt="最新ニュース" url="News/" menu="nb-news">
  <navbar:button id=doc txt="マニュアル" url="doc/" menu="nb-doc">
  <navbar:button id=faq txt="FAQ" url="faq/" menu="nb-faq">
  <navbar:button id=mailing_lists txt="メーリングリスト" url="mailing_lists" menu="nb-mailing_lists">
  <navbar:button id=screenshot txt="中国語版のDebianスクリーンショット" url="screenshot/" menu="nb-screenshot">
  <navbar:button id=devel txt="中国語版の開発" url="devel/" menu="nb-devel">
  <navbar:button id=software txt="中国語版ソフトウェア一覧" url="software" menu="nb-software">
  <navbar:button id=download txt="ダウンロード" url="download" menu="nb-download">
  <navbar:button id=links txt="関連リンク" url="related_links">
  <navbar:button id=about txt="このプロジェクトについて" url="about" menu="nb-about">
  <navbar:button id=thanks txt="謝辞" url="thanks">

  <navbar:epilog>
     </li>
  </navbar:epilog>

  <navbar:footer>
  </ul>
  </div>
  </navbar:footer>
  <navbar:filter>
    my ($mcode, $CFG, $select) = @_;
    return $mcode;
  </navbar:filter>
</navbar:define>
<define-tag submenu endtag=required whitespace=delete>
<set-var stem=<match "%0" "^[^.]+" action=extract>>
  <navbar:define name="nb-<get-var stem>" urlbase="$(HOME)/international/chinese/" >
    <navbar:header>
    <ul>
    </navbar:header>
    <navbar:prolog>
      <li>
    </navbar:prolog>
    <navbar:prolog type=S>
      <li class="menuselected">
    </navbar:prolog>
%body
    <navbar:epilog>
    </li>
    </navbar:epilog>
    <navbar:footer>
    </ul>
    </navbar:footer>
  </navbar:define>
</define-tag>

<submenu devel>
  <navbar:button id="devel.people" txt="プロジェクト構成員" url="devel/people">
  <navbar:button id="devel.groups" txt="プロジェクト内グループ" url="devel/groups">
  <navbar:button id="devel.join" txt="プロジェクトへの参加" url="devel/join">
  <navbar:button id="devel.zhongwenhua" txt="中国語化" url="devel/zhongwenhua">
  <navbar:button id="devel.doctrans" txt="文書翻訳" url="devel/doc_translate">
  <navbar:button id="devel.wwwtrans" txt="ウェブページ翻訳" url="devel/www_translate">
</submenu>


</ifmenu>
